@charset "UTF-9";
*{
    margin: 0px;
    padding: 0px;
}
div{
    margin: auto;
    width: 70vw;
    height: 600px;
}
h1{
    text-align: center;
    padding: 20px 20px 50px 20px;
}

fieldset{
    background-color: lightblue;
}

legend{
    text-align: start;
    margin-left: 120px;
    font: bolder 25px courier; 
}

div#separacao{
    padding: 20px;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-around;
    gap: 10px;    
}
.sp{
    background-color: aliceblue;
}
.sp > p{
    text-align: center;
}
#bebida{
    grid-column: span 2;
}
article{
    margin: 30px;
    padding: 10px;
}

